<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>SpringBoot模板渲染</title>
	<script type="text/javascript" th:src="@{/js/message/message_show.js}"></script>
	<link rel="icon" type="image/x-icon" th:href="@{/images/mldn.ico}"/>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
</head>
<body>
	<img th:src="@{/images/haha.jpg}" style="height:100px;"/>
	<p th:utext="'title = '+ ${title}"/>
	<p th:text="'msg = ' + ${msg}"/>
	<p th:utext="'欢迎信息：' + #{welcome.msg('ding')}"/>
	<p th:utext="'1 + 1 = ' + (1 + 1)"/>
	<p th:text="${#httpServletRequest.getHeader('Accept-Language')}"/>
	<p th:text="${#httpServletRequest.getSession().getId()}"/>
	<p th:text="${#httpSession.getId()}"/>
	<p th:text="${#httpServletRequest.getServletContext().getRealPath('/')}"/>
</body>
</html>